.wrapper {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}
.carousel-caption-center {
      position: absolute;
      top: 40%;
      left: 15%;
      z-index: 10;
}
.box-shad{
    box-shadow: 0px 1px 3px 1px rgba(50, 50, 50, 0.1);
}
.q-v{
    background-color: rgb(239, 235, 235);
}
.bg-fag {
    background-image: url("./img/bg-faq.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: relative;
}

.bg-fag::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(236, 236, 236, 0.8);
}

.darken {
    position: relative;
}
