/* CSS RESETS */
body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p,
ul {
  margin-top: 0;
}

img {
  max-width: 100%;
  display: block;
}

/* CSS RESETS */

/* Banner section */
.banner {
  height: 40vh;
  position: relative;
  background-image: url('./banner-bg-image.jpg');
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
}
@media (max-width: 1200px) {
  /* Mobile Styles */
  .banner {
    background-size: 150%;
  }
}
@media (max-width: 767px) {
  /* Mobile Styles */
  .banner {
    background-size: cover;
    background-position-y: -100px;
  }
}

.darken {
  background-color: (0, 0, 0, 0.5);
}

.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.banner h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fcfcfc;
  font-size: 3rem;
  text-align: center;
}

/* Main Section */
.projects {
  padding: 50px 0;
  text-align: center;
}

.projects h3 {
  text-align: left;
  margin-bottom: 30px;
}

.projects .row .col-md-4 {
  margin-bottom: 30px;
}

.col-md-4 {
  position: relative;
  
  
}
.card-image{
  margin-right: auto;
  margin-left: auto;
}

.card-title {
  padding: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  font-size: 30px;
  color: white;
  background-color: rgb(0, 0, 0, 0.5);
}
.card-title h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* scroll up button */
.scroll-up {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  color: gray;
  border: solid 1px;
  font-size: 20px;
}

