.App{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}
.button-wrapper{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
}
button{
    padding: 15px 30px;
    font-size: 30px;
    border-radius: 8px;
    background: white;
    cursor: pointer;
    transition: ease-in 0.2s;
}
.active-button{
    background-color: rgb(218, 218, 218);
}

.content{
    text-align: center;
    display: flex;
    justify-content: center;
    border: 2px black solid;
    border-radius: 8px;
}
ul{
    list-style: circle;
    min-height: 100vh;
}
li{
    margin-bottom: 12px;
    margin-top: 12px;
}

p{
    display: flex;
    justify-content: center;
    text-align: center;
    height: 50vh;
    align-items: center;
}
i{
    font-size: 50px;
}
